{% extends "base.html" %}
{% load static %}
{% block title %} Portfolio {% endblock title %}
{% block content %}
   <h1>Moje prace</h1>
   <table>
      <tbody>
        <tr>
            {% for foto in fotos %}
                <td>
                    <a href="/fotos/detail/{{foto.pk}}/">
                        <img width="100%" src='{{foto.image.url}}'><br>
                    </a>
                    <strong>Opis: </strong>{{ foto.name }}<br>
                    <strong>Autor: </strong>{{ foto.author}}<br>
                    <strong>Wydarzenie: </strong>{{ foto.event }}<br>
                    {% if user.is_authenticated %}
                        <a href="/fotos/edit/{{foto.pk}}/">
                            Edytuj<br>
                        </a>
                    {% endif %}
                </td>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </tr><tr>
                {% endif %}
            {% endfor %}
        </tr>
      </tbody>
   </table>
{% endblock %}